<body onload="unsolved()">
    <div class="row">
        <label class="col-md-4 col-md-offset-1"> UnSolved</label>
        <label class="col-md-4 col-md-offset-2"> Solved</label>
    </div>
    <div class="row">
        <table class="col-md-4 col-md-offset-1" id="myTable"></table>
        <table class="col-md-4 col-md-offset-2" id="solvedTable"></table>
    </div>
    <br>

    <button type="button" onclick="solve()">Solve</button>

    <script>
        var sudokuN = 9;

        function unsolved() {
            var table = document.getElementById("myTable");
            $.getJSON('https://localhost:44339/api/values', function (result) {
                console.log(JSON.stringify(result));
                var count = 0;
                for (var i = 0; i < sudokuN; i++) {
                    var row = table.insertRow(i);
                    for (var j = 0; j < sudokuN; j++) {
                        var cell1 = row.insertCell(j);
                        if (result.charAt(count) != 0) {
                            cell1.innerHTML = result.charAt(count);
                        } else {
                            cell1.innerHTML = " ";
                        }

                        count++;
                    }
                }

            });
        }

        function solve() {
            var table = document.getElementById("solvedTable");

            $.getJSON('https://localhost:44339/api/values/' + sudokuN, function (result) {
                console.log(JSON.stringify(result));
                var count = 0;
                for (var i = 0; i < sudokuN; i++) {
                    var row = table.insertRow(i);
                    for (var j = 0; j < sudokuN; j++) {
                        var cell1 = row.insertCell(j);
                        cell1.innerHTML = result.charAt(count);
                        count++;
                    }
                }

            });
        }
    </script>

</body>